version: '3.8'

services:

  module1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: module1
    ports:
      - "8081:8081"
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy
      graylog:
        condition: service_healthy
    networks:
      - module-net
    environment:
      SPRING_DATA_MONGODB_HOST: mongodb
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SERVER_PORT: 8081
      GELF_HOST: graylog
      GELF_PORT: 12201

  mongodb:
    image: mongo:6
    container_name: mongodb
    hostname: mongodb
    restart: unless-stopped
    environment:
      - TZ=America/Sao_Paulo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - module-net

  redis:
    image: redis:latest
    container_name: redis
    hostname: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 12
    networks:
      - module-net

  opensearch:
    image: opensearchproject/opensearch:2.4.0
    container_name: opensearch
    hostname: opensearch
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9600:9600"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 10s
      retries: 10
    restart: on-failure
    networks:
      - module-net

  graylog:
    image: graylog/graylog:5.2
    container_name: graylog
    hostname: graylog
    depends_on:
      mongodb:
        condition: service_healthy
      opensearch:
        condition: service_healthy
    environment:
      GRAYLOG_PASSWORD_SECRET: "f62c92ac283e4f1f969ad5e71d4c7b2e11e9bdbf5e193ae7bb4e9b4e1e956e437c98a43cd624c5ea8a2c97b9463f96e8"
      GRAYLOG_ROOT_PASSWORD_SHA2: "8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb:27017/graylog"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
      GRAYLOG_OPENSEARCH_HOSTS: "http://opensearch:9200"
    ports:
      - "9000:9000"
      - "12201:12201/udp"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/api" ]
      interval: 10s
      timeout: 5s
      retries: 15
    restart: on-failure
    networks:
      - module-net

volumes:
  mongo_data:
  opensearch_data:

networks:
  module-net:
    driver: bridge
